@font-face {
    font-family: roboto;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: robotoMedium;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}

#filter {
    width: 250px;
    height: 38px;
    border-radius: 8px;
    border: transparent;
    background: transparent;
}

#filter::placeholder {
    font-family: roboto;
    font-size: 15px;
    text-align: right;
    color: #fff;
}

#filter:focus {
    color: #fff;
    outline-width: 0;
}

#description {
    width: 577px;
    height: 177px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    position: relative;
}

#description::placeholder {
    position: absolute;
    padding-left: 2%;
    top: 20px;
    font-size: 18px;
    font-family: robotoMedium;
    color: #fff;
}

#description:focus {
    color: #fff;
    outline-width: 0;
}

#check {
    width: 27px;
    height: 27px;
}

input[type="checkbox"] {
    accent-color: #BDA4FF;
}