@font-face {
    font-family: roboto;
    src: url('../../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: robotoMedium;
    src: url('../../assets/fonts/Roboto-Medium.ttf');
}




#filter {
    width: 308px;
    height: 42px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: transparent;
    margin-top: 30px;
}

#filter::placeholder {
    font-family: roboto;
    font-size: 15px;
    text-align: right;
    padding-right: 2%;
    color: #fff;
}

#filter:focus {
    color: #fff;
}

#description {
    width: 577px;
    height: 177px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: transparent;
}

#description::placeholder {
    padding-left: 2%;
    font-size: 18px;
    font-family: robotoMedium;
    color: #fff;
}

#description:focus {
    color: #fff;
}

#check {
    width: 27px;
    height: 27px;
}

input[type="checkbox"] {
    accent-color: #BDA4FF;
}